
div.lesson-detail-content {
    min-height: 550px;
}

.card .card-action {
    height: 70px;
}

.lesson-description {
    width: 40%;
    padding-right: 25px;
}

.video-frame {
    width: 60%;
    height: 400px;
}
