<div class="row" *ngFor="let lesson of lessons">
    <div class="col s12 m8 offset-m2">
        <div class="card cyan lighten-1">
            <div class="card-content white-text">
                <i class="fa fa-quote-left fa-2x fa-pull-left fa-border" aria-hidden="true"></i>
                <p>{{lesson.isBiginner}}</p>
            </div>
            <div class="card-action">
                <a><i class="fa fa-clock-o fa-2x black-text" aria-hidden="true"></i></a>
                <a><span class="black-text fa-2x">{{lesson.duration}}</span></a>
            </div>
        </div>
    </div>
</div>